In [2]:
cd css2024_day1

/home/user/css2024_day1

In [3]:
import pandas as pd
file = pd.read_csv("movie_dataset.csv",index_col=0)
file

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

# Filling up the missing data

In [4]:
x = file["Revenue (Millions)"].mean()

file["Revenue (Millions)"].fillna(x, inplace = True) 


y = file["Metascore"].mean()

file["Metascore"].fillna(y, inplace = True)

file

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.130000,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.460000,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.120000,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.320000,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.020000,40.0
...,...,...,...,...,...,...,...,...,...,...,...
996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,82.956376,45.0
997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.540000,46.0
998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.010000,50.0
999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,82.956376,22.0
1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.640000,11.0

# What is the average revenue of all movies in the dataset?

In [5]:
avg=sum(file["Revenue (Millions)"])/len(file["Revenue (Millions)"])
print(avg)

82.9563761467888

# What is the average revenue of movies from 2015 to 2017 in the dataset?

In [6]:
t= file[file["Year"]>=2015]


avg=sum(t["Revenue (Millions)"])/len(t["Revenue (Millions)"])
print(avg)

68.0640232819806

# How many movies were released in the year 2016?

In [7]:
z=file[file["Year"]==2016]
len(z)

297

# How many movies were directed by Christopher Nolan?

In [8]:
z=file[file["Director"]=='Christopher Nolan']
len(z)

5

# How many movies in the dataset have a rating of at least 8.0?

In [9]:
z=file[file["Rating"]>=8]
len(z)

78

# What is the median rating of movies directed by Christopher Nolan?

In [10]:
z=file[file["Director"]=='Christopher Nolan']
zz=z.mean()
zz #The answer is 8.68

/tmp/ipykernel_4642/2332120834.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

Year                     2010.000
Runtime (Minutes)         152.600
Rating                      8.680
Votes                 1311817.000
Revenue (Millions)        303.018
Metascore                  74.800
dtype: float64

# Find the year with the highest average rating?

In [11]:
z=file[file["Year"]==2006]
zz=z.mean()
print(zz)

Year                    2006.000000
Runtime (Minutes)        120.840909
Rating                     7.125000
Votes                 269289.954545
Revenue (Millions)        86.144835
Metascore                 64.044435
dtype: float64

/tmp/ipykernel_4642/1042556108.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [12]:
z=file[file["Year"]==2007]
zz=z.mean()
print(zz)

Year                    2007.000000
Runtime (Minutes)        121.622642
Rating                     7.133962
Votes                 244331.037736
Revenue (Millions)        87.510481
Metascore                 63.771609
dtype: float64

/tmp/ipykernel_4642/2571131501.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [13]:
z=file[file["Year"]==2008]
zz=z.mean()
print(zz)

Year                    2008.000000
Runtime (Minutes)        110.826923
Rating                     6.784615
Votes                 275505.384615
Revenue (Millions)        98.772623
Metascore                 57.499137
dtype: float64

/tmp/ipykernel_4642/4148675804.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [14]:
z=file[file["Year"]==2009]
zz=z.mean()
print(zz)

Year                    2009.000000
Runtime (Minutes)        116.117647
Rating                     6.960784
Votes                 255780.647059
Revenue (Millions)       110.276186
Metascore                 57.195492
dtype: float64

/tmp/ipykernel_4642/3407822658.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [15]:
z=file[file["Year"]==2010]
zz=z.mean()
print(zz)

Year                    2010.000000
Runtime (Minutes)        111.133333
Rating                     6.826667
Votes                 252782.316667
Revenue (Millions)       103.975319
Metascore                 59.383084
dtype: float64

/tmp/ipykernel_4642/2085793859.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [16]:
z=file[file["Year"]==2011]
zz=z.mean()
print(zz)

Year                    2011.000000
Runtime (Minutes)        114.603175
Rating                     6.838095
Votes                 240790.301587
Revenue (Millions)        87.538355
Metascore                 61.506749
dtype: float64

/tmp/ipykernel_4642/3351760229.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [17]:
z=file[file["Year"]==2012]
zz=z.mean()
print(zz)

Year                    2012.000000
Runtime (Minutes)        119.109375
Rating                     6.925000
Votes                 285226.093750
Revenue (Millions)       107.973281
Metascore                 61.077658
dtype: float64

/tmp/ipykernel_4642/3518467740.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [18]:
z=file[file["Year"]==2013]
zz=z.mean()
print(zz)

Year                    2013.000000
Runtime (Minutes)        116.065934
Rating                     6.812088
Votes                 219049.648352
Revenue (Millions)        86.984496
Metascore                 58.559618
dtype: float64

/tmp/ipykernel_4642/3305382544.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [19]:
z=file[file["Year"]==2014]
zz=z.mean()
print(zz)

Year                    2014.000000
Runtime (Minutes)        114.489796
Rating                     6.837755
Votes                 203930.224490
Revenue (Millions)        84.992097
Metascore                 57.366889
dtype: float64

/tmp/ipykernel_4642/595700121.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [20]:
z=file[file["Year"]==2015]
zz=z.mean()
print(zz)

Year                    2015.000000
Runtime (Minutes)        114.496063
Rating                     6.602362
Votes                 115726.220472
Revenue (Millions)        78.862278
Metascore                 57.101891
dtype: float64

/tmp/ipykernel_4642/1028788020.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

In [21]:
z=file[file["Year"]==2016]
zz=z.mean()
print(zz)

Year                   2016.000000
Runtime (Minutes)       107.373737
Rating                    6.436700
Votes                 48591.754209
Revenue (Millions)       63.446588
Metascore                58.352075
dtype: float64

/tmp/ipykernel_4642/278150437.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zz=z.mean()

# Answer is 2007

# What is the percentage increase in number of movies made between 2006 and 2016?

In [22]:
z=file[file["Year"]==2006]
zz=file[file["Year"]==2016]

t=((len(zz)-len(z))/(len(z)))*100
t

575.0

# Find the most common actor in all the movies?

Note, the "Actors" column has multiple actors names. You must find a way to search for the most common actor in all the movies.

In [23]:
actors = file['Actors'].str.split(', ', expand=True).stack()
actor_counts = actors.value_counts()
most_common_actor = actor_counts.idxmax()
print("The most common actor in all the movies is:", most_common_actor)

The most common actor in all the movies is: Mark Wahlberg

# How many unique genres are there in the dataset?

Note, the "Genre" column has multiple genres per movie. You must find a way to identify them individually.

In [24]:
unique_genres = file['Genre'].str.split(',', expand=True).stack().unique()
num_unique_genres = len(unique_genres)
print("Number of unique genres:", num_unique_genres)

Number of unique genres: 20

# Do a correlation of the numerical features, what insights can you deduce? Mention at least 5 insights.

And what advice can you give directors to produce better movies?

In [26]:
correlation_matrix = file.corr()
print(correlation_matrix)

                        Year  Runtime (Minutes)    Rating     Votes  \
Year                1.000000          -0.164900 -0.211219 -0.411904
Runtime (Minutes)  -0.164900           1.000000  0.392214  0.407062
Rating             -0.211219           0.392214  1.000000  0.511537
Votes              -0.411904           0.407062  0.511537  1.000000
Revenue (Millions) -0.117562           0.247834  0.189527  0.607941
Metascore          -0.076077           0.202239  0.604723  0.318116

                    Revenue (Millions)  Metascore
Year                         -0.117562  -0.076077
Runtime (Minutes)             0.247834   0.202239
Rating                        0.189527   0.604723
Votes                         0.607941   0.318116
Revenue (Millions)            1.000000   0.132304
Metascore                     0.132304   1.000000

# Insights:
# 1. Positive correlation values close to 1 indicate strong positive linear relationships between features and it is shown in runtime in minutes
# 2. Negative correlation values close to -1 indicate strong negative linear relationships as seen in votes.
# 3. Correlation close to 0 suggests weak or no linear relationship between features as seen metascore
# 4. Highly correlated features can help in feature selection for machine learning models as seen in runtime
# 5. Most of the negative correlation is observed in years
# Advice: Go for the best actors